* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	// ## Colors

	// ### Primary
	--Green: hsl(75, 94%, 57%);

	// ### Neutral
	--White: hsl(0, 0%, 100%);
	--Grey: hsl(0, 0%, 20%);
	--Dark-Grey: hsl(0, 0%, 12%);
	--Off-Black: hsl(0, 0%, 8%);

	// Fonts
	@font-face {
		font-family: 'Inter';
		src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
	}
}

h2 {
	font-size: 1.8rem;
}

body {
	font-family: 'Inter';
	padding: 50px 25px;
	background-color: var(--Off-Black);
	color: var(--White);
}

main {
	margin: 0 auto;
	max-width: 400px;
	padding: 25px 20px;
	background-color: var(--Dark-Grey);
	border-radius: 9px;
}

header {
	text-align: center;

	h2 {
		margin-top: 2rem;
		margin-bottom: 0.25rem;
	}

	h3 {
		color: var(--Green);
	}

	.avatar {
		display: flex;
		justify-content: center;

		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
	}

	p {
		margin-top: 2rem;
	}
}

.links-container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	a {
		width: calc(100% - 20px);
		text-decoration: none;
		text-align: center;
		font-family: 'Inter';
		font-weight: 600;
		color: var(--White);
		background-color: var(--Grey);
		padding: 15px 20px;
		border-radius: 9px;

		&:hover {
			color: var(--Off-Black);
			background-color: var(--Green);
		}
	}
}

.attribution {
	margin-top: 2rem;
	font-size: 14px;
	text-align: center;

	a {
		font-family: 'Inter';
		font-weight: 600;
		color: var(--Green);
	}
}
