* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Yellow);
  width: 100vw;
  padding: 20px 10px;
  font-family: "Figtree", sans-serif;
}

main {
  flex: 1;
}

.card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--White);
  padding: 1.25rem;
  border-radius: 9px;
  box-shadow: 9px 9px black;
  border: 1px solid var(--Black);
}
.card-header img {
  border-radius: 9px;
  width: 100%;
}
.card-body h2 {
  margin: 1rem 0;
}
.card-body h2:hover {
  color: var(--Yellow);
  cursor: pointer;
}
.card-body-tag {
  background-color: var(--Yellow);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--Black);
  font-weight: 500;
}
.card-body-date {
  font-weight: 500;
  margin-top: 0.5rem;
}
.card-footer {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--Black);
}
.card-footer img {
  width: 42px;
}

.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: var(--White);
  font-weight: 500;
}